import( stats )
import( quantreg )
import( RColorBrewer )
importFrom("graphics", "plot")
importFrom("graphics", "points")
importFrom("graphics", "legend")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
export(
    caROC,
    plot_caROC,
    caThreshold,
    caROC_CB,
    plot_caROC_CB,
    sscaROC,
    plot_sscaROC,
    sscaROC_CB,
    plot_sscaROC_CB
)

