import( stats )
import( quantreg )
import( cequre )
importFrom("graphics", "plot")
importFrom("graphics", "points")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
export(
    caROC,
    plot_caROC,
    caThreshold,
    caROC_CB,
    plot_caROC_CB
)

